{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rustamqulov Boborahim Alisherovich" />
	<meta name="keywords" content="blog, business card, creative, creative portfolio, cv theme, online resume, personal, portfolio, professional cv, responsive portfolio, resume, resume theme, vcard" />
	<meta name="author" content="Alisherovich" />
    <title>Boborahim</title>
   <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
</head>
<body>
    <style>
        audio{
            display: none;
        }
    </style>
    <audio controls autoplay >
        <source src="../static/audio/legion.m4a"  type="audio/m4a">
    </audio>
    <div id="all">
        <div class="cursor"></div>
        <div id="loader">
            <span class="color">Boborahim</span>Rustamqulov
        </div>
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>


        <div id="navigation-content">
            <div class="logo">
               <a href="{% url 'home-page' %}"> <img src="{% static 'images/Boborahim.png' %}" alt="logo"></a>
            </div>
            <div class="navigation-close">
                <span class="close-first"></span>
                <span class="close-second"></span>
            </div>
            <div class="navigation-links">
                <a href="#" data-text="HOME" id="home-link" >HOME</a>
                <a href="#" data-text="ABOUT" id="about-link" >ABOUT</a>
                <a href="#" data-text="BLOG" id="blog-link" >BLOG</a>
                <a href="#" data-text="PORTFOLIO" id="portfolio-link" >PORTFOLIO</a>
                <a href="#" data-text="CONTACT" id="contact-link" >CONTACT</a>
            </div>
        </div>


        <div id="navigation-bar">
            <a href="{% url 'home-page' %}"> <img src="{% static 'images/Boborahim.png' %}" alt="logo"></a>
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <div id="header">
            <div id="particles"></div>
            <div class="social-media-links">
               <a href="https://www.instagram.com/faxri_musilman/"><img src="{% static 'images/instagram logo.png' %}" class="social-media" alt="instagram-logo"></a><!--Your instagram homepage link inser in place of "#"-->
                <a href="#"><img src="{% static 'images/facebook logo.png' %}" class="social-media" alt="facebook-logo"></a>
                <a href="https://www.linkedin.com/in/boborahim-rustamqulov-a1a1652b0/"><img src="{% static 'images/linkedin logo.png' %}" class="social-media" alt="linkedin-logo"></a>

            </div>


            <div class="header-content">
                {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <ul class="messages mb-0">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}


                <div class="header-content-box">
                <div class="firstline"><span class="color">Boborahim </span>Dev</div>
                <div class="secondline">
                I'm a
            <span class="txt-rotate color" data-period="1200"data-rotate='[ " Backend Devaloper.", " Digital information processing.", " Freelancer." ]'></span>
            <span class="slash">|</span>
        </div>
                    <div class="contact">
                <a href="https://t.me/Alisherov1ch_002"><img src="{% static 'images/mail.png' %}" alt="email-pic" class="contactpic"></a><!--Your email Id write in place of "#"-->
                <a href="Tel:#"><img src="{% static 'images/call.png' %}" alt="phone-pic" class="contactpic"></a><!--Your telephone number Id write in place of "#"-->
                    </div>
            </div>
            </div>
            <div class="header-image">
            <img src="{% static 'images/man.jpg' %}" alt="logo">
            </div>
        </div>

        <div id="about">
            <div class="color-changer">
            <div class="color-panel">
                <img src="{% static 'images/gear.png' %}" alt="">
            </div>

            </div>
            <div id="about-content">
                <div class="about-header">
                    About <span class="color">Me</span>
                    <span class ="header-caption">Get to Know <span class="color"> me.</span></span>
                </div>
                <div class="about-main">
            <div class="about-first-paragraph wow">
               <span class="about-first-line">
                    I'm creative
                    <span class="color">Backend developer</span>
                     Navoi in Uzbekistan  </span>
                     <br>
               <span class="about-second-line">With 2 year of experience as a professional backend developer, I have the skills and knowledge you need to make your project a success. I enjoy every step of my work.</span>
               <div class="cv">
                <a href="static\doc\boborahim-cv.pdf"><button>To Open <span class="colors">CV</span></button></a>
            </div>
            </div>
            <div class="about-img">
                <img src="{% static 'images/aboud.jpg' %}" alt="Your Image" style="max-width: 80%; height: auto;">
            </div>
            </div>

            </div>

            <div id="services">
                <div class="color-changer">
                    <div class="color-panel">
                        <img src="{% static 'images/gear.png' %}" alt="">
                    </div>

                    </div>
            <!--services header-->
                    <div class="services-heading wow">
                        <span class="color">My</span> Services
                    </div>
                    <div class="services-content">
                           <div class="service-one service wow">
                               <div class="service-img">
                               <img src="{% static 'images/coding.png' %}" alt="service-one">
                               </div>
                               <div class="service-description">
                                <h2>Backend Devolaper</h2>
                                <p>I can make you any kind of Web Site you want</p>
                               </div>
                           </div>
                           <div class="service-two service wow">
                               <div class="service-img">
                               <img src="{% static 'images/instagram.png' %}" alt="service-two">
                               </div>
                               <div class="service-description">
                                <h2>Telegram bot Devolaper </h2>
                                <p>I can make you any type of Telegram bot you want</p>
                               </div>
                           </div>
                           <div class="service-three service wow">
                            <div class="service-img">
                               <img src="{% static 'images/bulb.png' %}" alt="service-three">
                            </div>
                            <div class="service-description">
                                <h2>Creative Design</h2>
                                <p>I can make any kind of Design you want</p>
                            </div>
                        </div>
                    </div>
            </div>

            <div id="skills">
                <div class="skills-header">
                     My <span class="color"> Skills</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Python
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="html-progress wow">95%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                      GitHub
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="js-progress wow">90%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                    DRF
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">83%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Django
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="php-progress wow">87%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        FastAPI
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="jquery-progress wow">94%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Aiogram
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">84%</div>
                    </div>
                    </div>
                </div>
            </div>



        </div>
        <div id="portfolio">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="{% static 'images/gear.png' %}" alt="">
                </div>

                </div>
            <div class="portfolio-header"> <span class="color"> My </span> Portfolio
            <span class ="header-caption"> Some Of My <span class="color"> Works</span></span></div>
             <div id="portfolio-content">


             {% for portfolio in portfolios %}
                <div class="portfolio portfolio-third">
                    <div class="portfolio-image">
                        <img src="{{portfolio.image.url}}" alt="portfolio-third" >
                    </div>
                    <div class="portfolio-text">
                        <h2>{{portfolio.title}}</h2>
                        <p>{{portfolio.description}}</p>
                        <p>👁️ {{ article.view_count }} marta ko‘rildi</p>
                        <div class="button"><a href="{{portfolio.url_GitHub}}"><button><span class="index"> Link<i class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                {% endfor %}

                 </div>

             </div>

       <div id="blog">
   <div class="blog-header"> Blogs
       <span class="header-caption"> My Latest <span class="color"> blog posts.</span></span>
   </div>
   <div class="blog-content">
       {% for article in articles %}
       <div class="blogs" style="transition: transform 0.3s ease;">
           <a href="{% url 'blog-page' article.id %}">
               <div class="img">
                   <img src="{{ article.image.url }}" alt="Your Image" style="max-width: 80%; height: auto;">
                   <div class="blog-date">{{ article.create_data }}</div>
               </div>
               <div class="blog-text">
                   <h3>{{ article.title }}</h3>
                   <!-- <p>👁️ {{ article.view_count }} marta ko‘rildi</p> -->
                   <a href="{% url 'blog-page' article.id %}" class="btn btn-primary" style="text-decoration: none; color: white;">Maqolaga o'tish</a>
               </div>
           </a>
       </div>
       {% endfor %}
   </div>
</div>


            </div>

               </div>
        </div>

     <div id="contact">
        <div class="color-changer">
            <div class="color-panel">
                <img src="{% static 'images/gear.png' %}" alt="">
            </div>

            </div>
         <div class="contact-header">Contact <span class="color"> Me</span>
        <div class="contact-header-caption"> <span class="color"> Get</span> In Touch.</div></div>
        <div class="contact-content">
            <!--Contact form-->
             <div class="contact-form">
                 <div class="form-header">
                     Message Me
                 </div>
                 <form id="myForm" action="{% url 'home-page' %}" method="POST">
                    {% csrf_token %}*

                    <div class="input-line">
                        <input  id="name" type="text" name="name" placeholder="Name" class="input-name">
                        <input id="email" type="email" name="email" placeholder="Email"  class="input-name">
                    </div>
                    <input  id="phone-number" type="text" name="phone_number" placeholder="phone_number" class="input-name">

                    <textarea id ="description" name="description" class="input-textarea" placeholder="description"></textarea>
                    <button type="submit" id ="submit" value="OK">Send</button>
                 </form>

             </div>
             <div class="contact-info">
                <div class="contact-info-header">
                    Contact Info
                </div>
                <div class="contact-info-content">
                <div class="contect-info-content-line">
                    <img src="{% static './images/icon-name.png' %}" class="icon" alt="name-icon">
                    <div class="contact-info-icon-text">
                        <h6>Name</h6>
                        <p>Boborahim</p>
                  </div>
                </div>
                <div class="contect-info-content-line">
                  <img src="{% static './images/icon-location.png' %}" class="icon" alt="location-icon">
                  <div class="contact-info-icon-text">
                      <h6>Location</h6>
                      <p>Navoi in Uzbekistan</p>
                </div>
              </div>
              <div class="contect-info-content-line">
                  <img src="{% static './images/icon-phone.png' %}" class="icon" alt="phone-icon">
                  <div class="contact-info-icon-text">
                      <h6>Call</h6>
                      <p>+998936658507</p>
                </div>
              </div>

              <div class="contect-info-content-line">
                  <img src="{% static './images/icon-email.png' %}" class="icon" alt="email-icon">
                  <div class="contact-info-icon-text">
                      <h6>Email</h6>
                      <p>Info@example.com</p>
                </div>
              </div>
                </div>
           </div>
        </div>

     </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>